* {
    margin: 0;
}

/* headerBanner Section start --------- */

.headerBaner {
    background-image: url(/images/banner/banner2.png);
    background-repeat: no-repeat;
    height: 508px;
    text-align: end;
    padding-right: 200px;
    padding-top: 200px;
}

#bannerTittle {
    color: rgb(46, 11, 11);
    font-size: 35px;
}

#headerBannerDescription {
    margin-left: 800px;
    color: rgb(46, 11, 11);
    margin-top: 24px;
    width: 30%;

}

#conectBTN {
    font-weight: 600;
    font-size: 18px;
    margin-top: 32px;
    padding: 5px 8px;
    background-color: tomato;
    color: rgb(240, 234, 234);
    border-radius: 7px;

}

/* headerBanner Section finished --------- */
/* -------- */

/* cardSection start ------- */

#cardSection {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

#cardTittle {
    text-align: left;
    width: 40%;
    margin-left: 100px;
}

#cardtittle {
    font-weight: 700;
    font-size: 40px;
    /* margin-top: 24px; */
}

#cardDiscription {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}

#CardWork {
    font-size: 16px;
}




/* -----------------plan section ---------- */
#plancard {
    margin-top: 30px;
}

#planSection {
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    width: 70%;
    height: 202.96px;
    margin: 60px 200px;

}

/* //////////////////////// */
#positiveCard {
    width: 70%;
    background-image: url(/images/gradient1.png);
    margin-left: 200px;
    text-align: start;
    padding: 20px;
}

#footer {
    background-color: black;
    color: whitesmoke;
    padding: 50px;

    margin: 80px 0px 0px;
    display: flex;
    justify-content: space-around;
}

#aboutUS {
    width: 30%;
}